# Environment variables for the application
NEXT_PUBLIC_BASE_URL=""

# Auth config 
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Postgresql url 
DATABASE_URL=""

# File storage url 
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

NEXT_PUBLIC_CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_SECURE_DISTRIBUTION=""
NEXT_PUBLIC_CLOUDINARY_PRIVATE_CDN=""

# Environment
NODE_ENV=""